body {
  padding-top: 60px; 
  /* 60px to make the container go all the way to the bottom of the topbar */
}

.overflowAuto {
  overflow: auto;
}

.chatWindowHeight {
  height:600px;
}

.marginTop10 {
  margin-top: 10px;
}

.marginRight30 {
  margin-right: 30px;
}