body {
  padding-top: 60px; 
  /* 60px to make the container go all the way to the bottom of the topbar */
}

.overflowAuto {
  overflow: auto;
}

.chatWindowHeight {
  height:600px;
}

.marginTop10 {
  margin-top: 10px;
}

.marginRight30 {
  margin-right: 30px;
}

#chatWindow {
  
  position: absolute;
  overflow: auto;
  overflow-x: hidden;
  width: 300px;
  height: 200px;
  top: 400px;
  left: 800px;
  background-color: rgb(250,250,250);
  -webkit-border-radius: 6px 6px 6px 6px;
  -moz-border-radius: 6px 6px 6px 6px;
       border-radius: 6px 6px 6px 6px;
  -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.15);
  -moz-box-shadow: 0 1px 2px rgba(0,0,0,.15);
       box-shadow: 0 1px 2px rgba(0,0,0,.15);
  opacity: 0;

}

hr {
  margin: auto 0 !important;
  border: 0;
  width: 100%;
  background-color: rgb(170,170,170);
}