extends ../layouts/default


block content
  .container
    #map(style='width:1170px; height:600px;')


    div.marginTop10
      input#nameBox.span3.marginRight30(type='text', placeholder='Set a name')
      input#msgBox.span9(type='text', placeholder='Send a message...')

    input#uId(type='hidden', value='#{uId}')


block js
  script(src='http://open.mapquestapi.com/sdk/js/v7.0.s/mqa.toolkit.js?key=Fmjtd%7Cluub2g0t2h%2Cal%3Do5-9ubxgy')

  script(src='/javascripts/map.js')